<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ENIEncheres</display-name>
  <welcome-file-list>
    <welcome-file>ServletAcceuil</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletAcceuil</servlet-name>
    <servlet-class>fr.eni.encheres.servlets.ServletAcceuil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAcceuil</servlet-name>
    <url-pattern>/ServletAcceuil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acceuil.jsp</servlet-name>
    <jsp-file>/WEB-INF/JSP/acceuil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>acceuil.jsp</servlet-name>
    <url-pattern>/WEB-INF/JSP/acceuil.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>fr.eni.encheres.servlets.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login.jsp</servlet-name>
    <jsp-file>/WEB-INF/JSP/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>login.jsp</servlet-name>
    <url-pattern>/WEB-INF/JSP/login.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletUser</servlet-name>
    <servlet-class>fr.eni.encheres.servlets.ServletUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUser</servlet-name>
    <url-pattern>/ServletUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>user.jsp</servlet-name>
    <jsp-file>/WEB-INF/JSP/user.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>user.jsp</servlet-name>
    <url-pattern>/WEB-INF/JSP/user.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletInscription</servlet-name>
    <servlet-class>fr.eni.encheres.servlets.ServletInscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInscription</servlet-name>
    <url-pattern>/ServletInscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inscription.jsp</servlet-name>
    <jsp-file>/WEB-INF/JSP/inscription.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>inscription.jsp</servlet-name>
    <url-pattern>/WEB-INF/JSP/inscription.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletEncheres</servlet-name>
    <servlet-class>fr.eni.encheres.servlets.ServletEncheres</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEncheres</servlet-name>
    <url-pattern>/ServletEncheres</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>encheres.jsp</servlet-name>
    <jsp-file>/WEB-INF/JSP/encheres.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>encheres.jsp</servlet-name>
    <url-pattern>/WEB-INF/JSP/encheres.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDeconnexion</servlet-name>
    <servlet-class>fr.eni.encheres.servlets.ServletDeconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDeconnexion</servlet-name>
    <url-pattern>/ServletDeconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletModifierUser</servlet-name>
    <servlet-class>fr.eni.encheres.servlets.ServletModifierUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModifierUser</servlet-name>
    <url-pattern>/ServletModifierUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifUser.jsp</servlet-name>
    <jsp-file>/WEB-INF/JSP/modifUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifUser.jsp</servlet-name>
    <url-pattern>/WEB-INF/JSP/modifUser.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletSupprimerUser</servlet-name>
    <servlet-class>fr.eni.encheres.servlets.ServletSupprimerUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSupprimerUser</servlet-name>
    <url-pattern>/ServletSupprimerUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAfficherProfil</servlet-name>
    <servlet-class>fr.eni.encheres.servlets.ServletAfficherProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAfficherProfil</servlet-name>
    <url-pattern>/ServletAfficherProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>afficherProfil.jsp</servlet-name>
    <jsp-file>/WEB-INF/JSP/afficherProfil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>afficherProfil.jsp</servlet-name>
    <url-pattern>/WEB-INF/JSP/afficherProfil.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletNouvelleVente</servlet-name>
    <servlet-class>fr.eni.encheres.servlets.ServletNouvelleVente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNouvelleVente</servlet-name>
    <url-pattern>/ServletNouvelleVente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>nouvelleVente.jsp</servlet-name>
    <jsp-file>/WEB-INF/JSP/nouvelleVente.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>nouvelleVente.jsp</servlet-name>
    <url-pattern>/WEB-INF/JSP/nouvelleVente.jsp</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ServletVente</servlet-name>
    <servlet-class>fr.eni.encheres.servlets.ServletVente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletVente</servlet-name>
    <url-pattern>/ServletVente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>vente.jsp</servlet-name>
    <jsp-file>/WEB-INF/JSP/vente.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>vente.jsp</servlet-name>
    <url-pattern>/WEB-INF/JSP/vente.jsp</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/JSP/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>